body {
  background: #F4F4F4;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 0;
}

.title {
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  display: block;
}

.main-wrapper {
  margin: 0 auto;
  width: 1000px;
}

.header-wrapper {
  width: 1000px;
  float: left;
  margin: 0 auto;
}

.header {
  height: 80px;
  background: #FF0000;
  border-radius: 10px;
  border: 2px solid #FF2D2D;
  margin: 5px;
}

.content-wrapper {
  width: 800px;
  float: left;
  margin: 0 auto;
}

.content {
  background: #FFD6D6;
  border-radius: 10px;
  border: 2px solid #FF0000;
  margin: 5px;
}

.left-column-wrapper {
  width: 200px;
  float: left;
  margin: 0 auto;
}

.left-column {
  height: 200px;
  background: #FFD6D6;
  border-radius: 10px;
  border: 2px solid #FF0000;
  margin: 5px;
}

.user {
  font-size: 1.1em;
  font-weight: bold;
  margin: 2px;
  padding: 2px;
  border-radius: 5px;
}

.highlight {
  background: #FFFFFF;
}

.selected {
  background: #FFFFFF;
}

.box-header {
  font-size: 1.2em;
  margin: 3px;
  text-align: center;
}

.tweet {
  border-top: 1px solid #FF0000;
  clear: both;
  padding: 4px;
}

.text {
  margin: 0px;
  /*border: 1px dotted;*/
}

.timestamp {
  font-size: .8em;
  /*border: 1px dotted;*/
}

.humanize {
  font-size: .8em;
  /*border: 1px dotted;*/
  margin-left: 65%;
}